html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: #000c;
}

.container {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid white;
}
